# App
PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

# Base de datos MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=tu_password
DB_DATABASE=quiniela_ca_v2

# JWT
JWT_SECRET=cambia_esto_por_un_secreto_seguro
JWT_EXPIRES_IN=7d

# API Football (https://www.api-football.com)
API_FOOTBALL_KEY=tu_api_key_aqui
API_FOOTBALL_URL=https://v3.football.api-sports.io
